<!-- customer_form.html -->
{% extends 'store/base.html' %}
{% block content %}
  <div class="container m-5">
    <h1 class="mb-4">{% if form.instance.pk %}Modifier{% else %}Créer{% endif %} un client</h1>
    <form method="post">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">Prénom</label>
            {{ form.first_name }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Nom</label>
            {{ form.last_name }}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="form-group">
            <label for="{{ form.address.id_for_label }}">Adresse</label>
            {{ form.address }}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}">E-mail</label>
            {{ form.email }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.phone.id_for_label }}">Téléphone</label>
            {{ form.phone }}
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.loyalty_points.id_for_label }}">Points de fidélité</label>
            {{ form.loyalty_points }}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Enregistrer
      </button>
    </form>
  </div>
{% endblock %}
