{% extends 'store/base.html' %}
{% block title %}Page du Personnel{% endblock %}

{% block content %}
<div class="container my-4">
        <div class="card">
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Informations du Profil</span class="h4">
                            <a class="btn btn-outline-success btn-sm float-end" href="{% url 'user-profile-update' %}">Modifier le profil</a>
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Nom d'utilisateur</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Rôle du personnel</th>
                                <td>
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                    {% if user.profile.role == 'RGS' %}
                                    Responsable Gestion Stock
                                    {% elif user.profile.role == 'RPA' %}
                                    Responsable Production/Approvisionnement
                                    {% else %}
                                    Magasinier
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Prénom</th>
                                <td>{{ user.profile.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nom</th>
                                <td>{{ user.profile.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Téléphone</th>
                                <td>{{ user.profile.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <img class="rounded-pill img-fluid" src="{{ user.profile.profile_picture.url }}" alt="image de profil">
                </div>
            </div>
        </div>
</div>

{% endblock %}
