
{% extends "store/base.html" %}
{% block content %}
<!-- Section d'en-tête -->
<div class="container my-4">
    <div class="card shadow-sm rounded p-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="display-6 mb-0 text-success">Achats</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-end gap-2">
                <a class="btn btn-success btn-sm rounded-pill shadow-sm" href="{% url 'purchase-create' %}">
                    <i class="fa-solid fa-plus"></i> Ajouter un achat
                </a>
                <a class="btn btn-success btn-sm rounded-pill shadow-sm" href="{% url 'select-policy' %}">
                    <i class="fa-solid fa-calculator"></i> Choisir une politique d'approvisionnement
                </a>
                <a class="btn btn-success btn-sm rounded-pill shadow-sm" href="{% url 'purchases-export' %}">
                    <i class="fa-solid fa-download"></i> Exporter en Excel
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <style>
        .table th, .table td {
            text-align: center;
        }
    </style>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Statut de livraison</th>
                <th scope="col">Date de livraison</th>
                <th scope="col">Fournisseur</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <th scope="row">{{ purchase.id }}</th>
                <td>{{ purchase.item.name }}</td>
                <td>{{ purchase.quantity }}</td>
                <td>{{ purchase.total_value }}</td>
                <td>
                    {% if purchase.delivery_status == 'P' %}
                        <span class="badge badge-pill bg-soft-danger text-danger me-2">
                            En attente
                        </span>
                    {% else %}
                        <span class="badge badge-pill bg-soft-success text-success me-2">
                            Livré
                        </span>
                    {% endif %}
                </td>
                <td>{{ purchase.delivery_date }}</td>
                <td>{{ purchase.vendor.name }}</td>
                <td>
                    <a class="text-info" href="{% url 'purchase-update' purchase.id %}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a class="text-danger float-end" href="{% url 'purchase-delete' purchase.id %}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <!-- Bouton pour ouvrir la modal -->
                    <button class="text-primary btn btn-link" data-bs-toggle="modal" data-bs-target="#purchaseModal{{ purchase.id }}">
                        <i class="fa-solid fa-eye"></i> Détails
                    </button>
                </td>
            </tr>

            <!-- Modal pour afficher les détails de l'achat -->
            <div class="modal fade" id="purchaseModal{{ purchase.id }}" tabindex="-1" aria-labelledby="purchaseModalLabel{{ purchase.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="purchaseModalLabel{{ purchase.id }}">Détails de l'Achat #{{ purchase.id }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Article :</strong> {{ purchase.item.name }}</p>
                            <p><strong>Quantité :</strong> {{ purchase.quantity }}</p>
                            <p><strong>Prix total :</strong> {{ purchase.total_value }}</p>
                            <p><strong>Statut de livraison :</strong> {{ purchase.get_delivery_status_display }}</p>
                            <p><strong>Date de livraison :</strong> {{ purchase.delivery_date }}</p>
                            <p><strong>Fournisseur :</strong> {{ purchase.vendor.name }}</p>

                            <h3>Politique Utilisée</h3>
                            {% if purchase.policy_used %}
                                <p><strong>Politique :</strong> {{ purchase.policy_used }}</p>
                                <p><strong>Paramètres :</strong></p>
                                <ul>
                                    {% for key, value in purchase.policy_parameters.items %}
                                    <li><strong>{{ key }} :</strong> {{ value }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Aucune politique utilisée pour cet achat.</p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}